@model Tipping.Models.TipsViewModel
@{
    ViewBag.Title = "Resultat for bruker: " + @Model.Brukernavn;
}
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
</section>
}
<div class="poengOversikt">
<h2>Poeng for bonusspørsmål:</h2>
    @foreach(var tips in Model.BonusOgTips)
    {
        <div>
            <span class="navn">@tips.Spørsmål</span><span class="poeng">@tips.Poeng p</span>
            @if (tips.TipsfristUtløpt)
            {
                <span style="margin-left: 30px;" class="tips">(Tips: @tips.Svar)</span>
            }
        </div>
    }
</div>
<div class="poengOversikt">
<h2>Poeng for kamp:</h2>
    @foreach(var tips in Model.KampOgTips)
    {
        <div>
            <span class="navn">@tips.Hjemmelag -  @tips.Bortelag</span><span class="poeng">@tips.Poeng p</span>
            @if (tips.TipsfristUtløpt)
            {
            <span style="margin-left: 30px;" class="tips">(Tips: @tips.MålHjemmelag - @tips.MålBortelag)</span>
            }
        </div>
    }
</div>

