@model Tipping.Models.ResultatViewModel
@{
    ViewBag.Title = "Resultatoversikt";
}
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p>
            Hvem leder an i poengfangsten?
        </p>
    </div>
</section>
}
<div class ="right">
    <h2>Tips og resultat per bonusspørsmål:</h2>
    @foreach (var bonusspørsmål in Model.AlleBonusspørsmål)
    {
        <div style="display:block;">
            <span class="navn">@Html.ActionLink(bonusspørsmål.Spørsmål, "Bonus", new { id = bonusspørsmål.ID }) </span>
        </div>
    }    <h2>Tips og resultat per kamp:</h2>
    @foreach (var kamp in Model.AlleKamper)
    {
        <div style="display:block;">
            <span class="navn">@Html.ActionLink(kamp.Hjemmelag + " - " + kamp.Bortelag, "Kamp", new {id = kamp.ID}) </span>
        </div>
    }
</div>
<div class="poengOversikt">
<h2>Totalsum poeng:</h2>
    @foreach(var deltaker in Model.TotalPoengsum)
    {
        <div style="display:block;">
            <span class="navn">@Html.ActionLink(@deltaker.Brukernavn,"Bruker", new{id = @deltaker.Brukernavn})</span><span class="poeng">@deltaker.Score p</span>
        </div>
    }
</div>

<div class="poengOversikt">
<h2>Antall kamper med 4 poeng:</h2>
    @foreach(var deltaker in Model.KamperMedFirePoeng)
    {
        <div style="display:none;">
            <span class="navn">@Html.ActionLink(@deltaker.Brukernavn, "Bruker", new { id = @deltaker.Brukernavn })</span><span class="poeng">@deltaker.Score kamper</span>
        </div>
    }
</div>
<div class="poengOversikt">
    <h2>Antall kamper med poeng:</h2>
    @foreach(var deltaker in Model.KamperMedPoeng)
    {
        <div style="display:none;">
            <span class="navn">@Html.ActionLink(@deltaker.Brukernavn, "Bruker", new { id = @deltaker.Brukernavn })</span><span class="poeng">@deltaker.Score kamper</span>
        </div>
    }
</div>
<div class="poengOversikt">
    <h2>Kamp med flest poeng utdelt:</h2>
    @foreach (var kamp in Model.KampMedFlestPoeng)
    {
        <div style="display:none;">
            <span class="navn">@Html.ActionLink(kamp.Lag, "Kamp", new {id = kamp.ID})</span><span class="poeng">@kamp.Score poeng</span>
        </div>
    }
</div>
<div class="poengOversikt">
    <h2>Kamp med færrest poeng utdelt:</h2>
    @foreach (var kamp in Model.KampMedFærrestPoeng)
    {
        <div style="display:none;">
            <span class="navn">@Html.ActionLink(kamp.Lag, "Kamp", new {id = kamp.ID})</span><span class="poeng">@kamp.Score poeng</span>
        </div>
    }
</div>
<script type="text/javascript">
    $(".poengOversikt h2").click(function () {
        $(".poengOversikt > div").hide();
        $(this).siblings("div").show();
    });
</script>
<style>
    h2 {
        cursor: pointer;
    }
</style>

