@using Tipping.Models
@model Tipping.Models.TipsViewModel

@{
    ViewBag.Title = "Mine tips";
}
<script src="@Url.Content("~/Scripts/Tips/Tips.js")"></script>
<script src="@Url.Content("~/Scripts/Tipping/Tipping.js")"></script>
<script type="text/javascript">
    $(function () {
        bindUrl("LagreTips_Tips", "@Url.Action("LagreTips", "Tips")");
        bindUrl("LagreBonusTips_Tips", "@Url.Action("LagreBonusTips", "Tips")");
        settOppLagreTips();
        settOppLagreBonusTips();
    });
</script>
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p>
            Fyll ut dine tips i rubrikkene under og se poengene tikke inn.
        </p>
    </div>
</section>
}
<h2>Bonusspørsmål</h2>
            <div class="time">@DateTimeUtils.CETNå().ToString("dd.MM.yyyy HH:mm")</div>
<div class="main">
    @foreach (var bonustips in @Model.BonusOgTips)
    {
            <div class="bonustips" data-bonusID="@bonustips.BonusID">
            <div class="time">@bonustips.Frist.ToString("dd.MM.yyyy HH:mm")</div>
            <div class="question">@bonustips.Spørsmål</div>
            @if (bonustips.TipsfristUtløpt)
            {
                <div>@bonustips.Svar</div>
            }
            else
            {
                <input type="text" class="answer" value="@bonustips.Svar" />
            }
            <div class="status">
                @if (bonustips.ErBeregnet)
                {
                    @Html.Raw(bonustips.Poeng + " p")
                }
            </div>
        </div>
    }
</div>

<h2>Tips</h2>

<div class="main">
    @foreach (var tips in @Model.KampOgTips)
    {
            <div class="tips" data-kampID="@tips.KampID">
            <div class="time">@tips.Avspark.ToString("dd.MM.yyyy HH:mm")</div>
            <div class="hjemmelagnavn">@tips.Hjemmelag</div>
            @if (tips.TipsfristUtløpt)
            {
                <div>@tips.MålHjemmelag</div>
            }
            else if (tips.ErLevert)
            {
                <input type="number" class="hjemmelag" min="0" value="@tips.MålHjemmelag" />
            }
            else
            {
                <input type="number" class="hjemmelag" min="0" />
            }
            <div> - </div>
            @if (tips.TipsfristUtløpt)
            {
                <div>@tips.MålBortelag</div>
            }
            else if (tips.ErLevert)
            {
                <input type="number" class="bortelag" min="0" value="@tips.MålBortelag" />
            }
            else
            {
                <input type="number" class="bortelag" min="0" />
            }
            <div class="bortelagnavn">@tips.Bortelag</div>
            <div class="status">
                @if (tips.ErBeregnet)
                {
                    @Html.Raw(tips.Poeng + " p")
                }
            </div>
        </div>
    }
</div>
