@model Tipping.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Use the form below to create a new account.</h2>
</hgroup>

<p class="message-info">
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Tipping/Tipping.js"></script>
<script type="text/javascript">
    bindUrl("SendPassword_Account", @Url.Action("SendPassword", "Account"));
    $("input[type=submit]").click(function () {
        var eMail = $("#Email").val();
        $.ajax(getUrl("SendPassword_Account"), {
            type: "POST",
            data: {eMail: eMail},
            success: function (returdata) {
                var success = eval(returdata);
                if (success) {
                    $("#status").text("Mail med passord er sendt.");
                } else {
                    $("#status").text("Kunne ikke finne bruker.");
                }
            },
            error: function () {
                $("#status").text("Noe gikk feil. Last siden på nytt og prøv igjen");
            }
        });        
    });

</script>

<fieldset>
    <legend>Registration Form</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </li>
    </ol>
    <input type="submit" value="Send passord" /><span id="status"></span>
</fieldset>
