@using Tipping.Models
@model Tipping.Models.TipsViewModel

@{
    ViewBag.Title = "Admin";
}
<script src="@Url.Content("~/Scripts/Tips/Tips.js")"></script>
<script src="@Url.Content("~/Scripts/Tipping/Tipping.js")"></script>
<script type="text/javascript">
    $(function () {
        bindUrl("LagreResultat_Admin", "@Url.Action("LagreResultat", "Admin")");
        bindUrl("LagreBonusResultat_Admin", "@Url.Action("LagreBonusResultat", "Admin")");
        settOppLagreResultat();
        settOppLagreBonusResultat();
    });
</script>
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
</section>
}
<h2>Bonusspørsmål</h2>
<div class="main">
    @foreach (var bonustips in @Model.BonusOgTips)
    {
            <div class="bonustips" data-bonusID="@bonustips.BonusID">
            <div class="time">@bonustips.Frist.ToString("dd.MM.yyyy HH:mm")</div>
            <div class="question">@bonustips.Spørsmål</div>
            <input type="text" class="answer" value="@bonustips.Svar" />
            <div class="status">
            </div>
        </div>
    }
</div>

<h2>Tips</h2>

<div class="main">
    @foreach (var tips in @Model.KampOgTips)
    {
            <div class="tips" data-kampID="@tips.KampID">
            <div class="time">@tips.Avspark.ToString("dd.MM.yyyy HH:mm")</div>
            <div class="hjemmelagnavn">@tips.Hjemmelag</div>
            @if (tips.ErFerdigspilt)
            {
                <input type="number" class="hjemmelag" min="0" value="@tips.MålHjemmelag" />
            }
            else
            {
                <input type="number" class="hjemmelag" min="0" />
            }
            <div> - </div>
            @if (tips.ErFerdigspilt)
            {
                <input type="number" class="bortelag" min="0" value="@tips.MålBortelag" />
            }
            else
            {
                <input type="number" class="bortelag" min="0" />
            }
            <div class="bortelagnavn">@tips.Bortelag</div>
            <div class="status">
            </div>
        </div>
    }
</div>
